/****
 ****
 BACKGROUNDS  */

/* BACKGROUND ALL  */
.dark-mode .background-shade-100, 
.dark-mode .background-shade-100-on-focus:focus, 
.dark-mode .background-shade-100-on-hover:hover,
.dark-mode .slite-design-system.no-print.height-full.l-sidepanel, 
.dark-mode .l-app-grid{
	background-color: hsl(220, 10.92%, 11.96%);
}
/**
 COMMENT - HOVER OVER  */
.l-meta .position-relative.flexbox.width-full .background-shade-50 {
	background-color: hsl(220, 10.92%, 11.96%);
}

/** 
 SIDEBAR - LEFT BACKGROUND */
.dark-mode .l-sidebar-body + div{
	background-color: hsl(220, 10.92%, 11.96%);
}
/**
 TOP NAV */
.dark-mode  .l-topbar-right.flexbox.width-full.flexbox-align-center.zindex-large.background-shade-100.border-bottom-medium.border-shade-50 {
	background-color: hsl(220, 10.92%, 11.96%);

}
 
 
 /****
 ****
 BORDERS  */
 
.l-sidebar-body + div.width-full {
    border-right: 1px solid hsl(220, 10.92%, 19.96%);
    border-left:  1px solid hsl(220, 10.92%, 0%);
}
/* BORDERS ALL  */
.dark-mode .border-shade-50, .dark-mode .border-shade-50-on-active:active, .dark-mode .border-shade-50-on-focus:focus, .dark-mode .border-shade-50-on-hover:hover {
	border:none;
}







/****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 COLORS
 COLORS
 COLORS
 COLORS
 COLORS
 COLORS
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ****************
 ***************/




/****
 ****
 **** 
 ****
 ****
 **** 
 ****
 **** 
 ****
 ****
 ****
 MIDDLE COLUMN
 ****
 ****
 **** 
 ****
 ****
 **** 
 ****
 **** 
 ****
 ****
 ****/
 
/**
 **
 **
Middle Column - TOP SEARCH - BACKGROUND - WIDE State*/


.flexbox.width-full.flexbox-align-center.zindex-large.background-shade-100.border-bottom-medium.border-shade-50.padding-horizontal-medium .sidebar-search.flexbox.flexbox-align-center.flexbox-space-between.flexbox-no-shrink.pointer.no-outline.position-relative.shade-20.shade-10-on-hover.background-shade-50.background-shade-45-on-active.radius-normal {
	background: hsl(231.43, 6.54%, 20.98%, .05);
	-webkit-backdrop-filter:blur(10px);
	backdrop-filter:blur(10px;);
	border:1px solid hsl(231.43, 6.54%, 20.98%, .5);
}
.flexbox.width-full.flexbox-align-center.zindex-large.background-shade-100.border-bottom-medium.border-shade-50.padding-horizontal-medium .sidebar-search.flexbox.flexbox-align-center.flexbox-space-between.flexbox-no-shrink.pointer.no-outline.position-relative.shade-20.shade-10-on-hover.background-shade-50.background-shade-45-on-active.radius-normal .flexbox *{
	color:hsl(231.43, 6.54%, 20.98%,1) !important;
}

/**
Middle Column - TOP SEARCH - MARGIN - Text Field - WIDE State*/
.l-sidebar-body + div .flexbox-align-center.background-white .margin-horizontal-medium {
    margin-top: 12px;
    margin-bottom: 12px;
}
/*Middle Column - TOP SEARCH - MARGIN - Text Field - THIN State*/
.l-app-grid--meta .l-sidebar-body + div .flexbox-align-center.background-white .margin-horizontal-medium {
    margin-left: 8px;
    margin-right: 8px;
    transition: all .23s ease-in-out !important;
    transition-delay:.1s !important;
}
/*Middle Column - TOP SEARCH - BORDER BOTTOM - THIN State*/
.l-sidebar-body + div .flexbox.width-full.flexbox-align-center.zindex-large.background-white.border-bottom-medium.border-shade-50 {
    border-bottom:none;
}



/**
 **
 **
 **
 **
MIDDLE COLUMN - ELEMENT CHILDREN***/


/**
 **
MIDDLE COLUMN - SIDEBAR POPOVER - CONTAINER**/
.slite-popover-container {
    z-index: 100000!important;
    box-shadow: 0 0 10px 0 black;
}

.slite-popover-container.color-mode-elevated.undefined {
z-index: 1000000000000 !important;
}


/**
 **
SIDEBAR HEADER - CONTENT**/
.sidebar-header{
    margin-top:16px !Important;
}
.l-app-grid--meta .sidebar-header{
    margin-top:43px;
}


/*Middle Column - Sidebar Heading - CONTAINER - PADDING/HEIGHT - WIDE State*/
.width-full .sidebar-header.flexbox-no-shrink.padding-horizontal-large {
    padding-left: 18px;
    padding-right: 5px;
    transition: all .23s ease-in-out !important;
    transition-delay:.1s !important;
}
/**Middle Column - Sidebar Heading - CONTAINER - PADDING/HEIGHT - THIN State*/
.l-app-grid--meta  .sidebar-header.flexbox-no-shrink.padding-horizontal-large {
    padding-left: 7px;
    padding-right: 10px;
    height:50px;
    transition: all .23s ease-in-out !important;
    transition-delay:.1s !important;
}

/**Middle Column - SIDEBAR HEADING - FONT SIZE - WIDE State*/
.sidebar-header.flexbox-no-shrink.padding-horizontal-large div a, .sidebar-header .flexbox-grow.ellipsis div {
    font-size:20px !important;
    transition: all .23s ease-in-out !important;
    transition-delay:.1s !important;
}
/**Middle Column - SIDEBAR HEADING - FONT SIZE - THIN State*/
.l-app-grid--meta .sidebar-header.flexbox-no-shrink.padding-horizontal-large div a, .l-app-grid--meta .sidebar-header .flexbox-grow.ellipsis div {
    font-size:16px !important;
    transition: all .23s ease-in-out !important;
    transition-delay:.1s !important;
}

/**
 **
SIDEBAR HEADER - ICONS**/

/**Middle Column - Sidebar Heading - CONTAINER - RIGHT ICONS - ALL STATES*/
.sidebar-header .width-full.flexbox.flexbox-align-center.flexbox-row div.inline-block span, 
.sidebar-header .width-full.flexbox.flexbox-align-center.flexbox-row div.shade-20{
    padding:2px; 
    width:18px!important;
    height:18px!important;
}
/*1st Sidebar header icon*/
.sidebar-header .width-full.flexbox.flexbox-align-center.flexbox-row div.inline-block:nth-child(2) {
    position: absolute;
    margin-top: -30px;
    margin-left: 34px;
}
/*2nd Sidebar header icon*/
.sidebar-header .width-full.flexbox.flexbox-align-center.flexbox-row div.inline-block:nth-child(3) {
    position: absolute;
    margin-top: -30px;
    margin-left: 9px;
}
.sidebar-header .width-full.flexbox.flexbox-align-center.flexbox-row div.inline-block:nth-child(3) span{
    padding:1px; 
    width:18.5px!important;
    height:18.5px!important;
}
/*3rd Sidebar header icon*/
.sidebar-header .width-full.flexbox.flexbox-align-center.flexbox-row div.inline-block:nth-child(4) {
    position: absolute;
    margin-top: -30px;
    margin-left: -5px;
}
/*Info Sidebar header icon*/
.sidebar-header .width-full.flexbox.flexbox-align-center.flexbox-row div.shade-20 {
    position: absolute;
    margin-top: -30px;
    margin-left: 0px;
}

.l-app-grid--meta .sidebar-header.flexbox-no-shrink.padding-horizontal-large svg path {
fill: hsl(231.43, 6.54%, 30.98%, 0.5) !important;
transition: .1s !important;
}



/**
 **
 **
MIDDLE COLUMN - BODY CONTENT**/

/**
Middle Column - Button - "ALL CHANNELS" - WIDE State*/
.l-sidebar-body + div.width-full .border-right-medium.border-shade-50 div div.inline-block .margin-bottom-small {
	margin-top:0px !important;
	margin-bottom:3px !important;
}



/**Middle Column - BODY FONT - FONT SIZE -  THIN State*/
.l-app-grid--meta .l-sidebar-body + div.width-full .font-size-large { 
    font-size:12px;
    transition: all .13s ease-in-out;
    transition-delay:.1s !important;
}
/**Middle Column - BODY FONT - FONT SIZE - WIDE State*/
.l-sidebar-body + div.width-full .font-size-large {
    font-size:14px;
    transition: all .13s ease-in-out;
    transition-delay:.1s !important;
}
/*Middle Column - Button - "ALL CHANNELS" - HOVER THINGY*/
.l-sidebar-body + div.width-full .border-right-medium.border-shade-50 div div.inline-block .margin-bottom-small span{
    display:none;
}


/*Middle Column - BUTTONS - Below Header - CONTAINER - WIDE State*/
.sidebar-header + .flexbox.flexbox-centered.flexbox-column.flexbox-no-shrink.padding-horizontal-medium {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    transition: all .13s ease-in-out;
    transition-delay:.1s !important;
}
/*Middle Column - BUTTONS - Below Header - CONTAINER - THin State*/
.l-app-grid--meta .sidebar-header + .flexbox.flexbox-centered.flexbox-column.flexbox-no-shrink.padding-horizontal-medium {
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 10px;
    transition: all .13s ease-in-out;
    transition-delay:.1s !important;
}

/*Middle Column - BUTTONS - FOLDERS/FILES - MARGINS/PADDING - WIDE State*/
.flexbox.flexbox-column.height-full.width-full .slite-design-system.flexbox.flexbox-grow.flexbox-column.height-full div a {
    margin-top: 0px !important;
    margin-bottom: 2px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
/*Middle Column - BUTTONS - FOLDERS/FILES - MARGINS/PADDING - THIN State*/
.l-app-grid--meta .flexbox.flexbox-column.height-full.width-full .slite-design-system.flexbox.flexbox-grow.flexbox-column.height-full div a[style*="margin-left"] {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    margin-left: 7px !important;
    margin-right: 7px !important;
    color: hsla(250,30%,90%,0.25) !important;
    
}
/*Middle Column - BUTTONS - FOLDERS/FILES - NESTED - MARGINS/PADDING - WIDE State*/
.flexbox.flexbox-column.height-full.width-full .slite-design-system.flexbox.flexbox-grow.flexbox-column.height-full div a[style*="margin-left: 40px"] {
    margin-left: 24px !important;
}

.flexbox.flexbox-column.height-full.width-full .slite-design-system.flexbox.flexbox-grow.flexbox-column.height-full div a[style*="margin-left: 64px"] {
    margin-left: 40px !important;
}

.flexbox.flexbox-column.height-full.width-full .slite-design-system.flexbox.flexbox-grow.flexbox-column.height-full div a[style*="margin-left: 88px"] {
    margin-left: 60px !important;
}
/*Middle Column - BUTTONS - FILES - ICON - FAR LEFT - PADDING - ALL States*/
.flexbox.flexbox-column.height-full.width-full .slite-design-system.flexbox.flexbox-grow.flexbox-column.height-full div a .padding-left-small {
    padding-left: 4px;
}

/*Middle Column - BUTTONS - FILES - ICON - UP/DOWN ARROW - ALL States*/
.flexbox.flexbox-column.height-full.width-full .slite-design-system.flexbox.flexbox-grow.flexbox-column.height-full .margin-left-smaller svg {
    transition: .25s;
}

/*ICONS FILES */
.flexbox.flexbox-align-center.position-relative.radius-normal.margin-horizontal-medium.margin-bottom-smaller .flexbox.flexbox-row.flexbox-align-center .flexbox.flexbox-align-center.shade-20.margin-right-small {
margin-right: 3px;
}
.flexbox.pointer .background-shade-40, .flexbox.pointer .background-shade-40-on-focus:focus, .flexbox.pointer .background-shade-40-on-hover:hover {
background-color: hsla(250,30%,90%,0.15) !important;
transition: .25s !important;
}
.flexbox.pointer .shade-20, .flexbox.pointer .shade-20-on-active:active, .flexbox.pointer .shade-20-on-focus:focus, .flexbox.pointer .shade-20-on-hover:hover {
fill: hsla(250,30%,90%,0.25) !important;
}
.flexbox.pointer.transition.flexbox-centered.radius-normal.shade-20.shade-10-on-hover.background-shade-40-on-hover.background-shade-30-on-active.margin-horizontal-smallest.hidden svg path {
transition: 1s ease-in-out !important;
transition-delay: 0s !important;
opacity: 0 !important;
visibility:hidden !important;
}
.flexbox.pointer.transition.flexbox-centered.radius-normal.shade-20.shade-10-on-hover.background-shade-40-on-hover.background-shade-30-on-active svg path {
fill: hsla(250,30%,90%,0.25) !important;
transition: 1s !important;
opacity: 1 !important;
visibility: visible !important;
}

/***FOLDER ARROW ANIMATION*/
div[draggable="true"] div.inline-block:last-of-type svg {
transition: .25s !important;
}

/*ICONS - THIN STATE*/
.l-app-grid--meta .flexbox.flexbox-column.height-full.width-full .slite-design-system.flexbox.flexbox-grow.flexbox-column.height-full div a[style*="margin-left"] * path, .l-app-grid--meta .flexbox.flexbox-column.height-full.width-full .slite-design-system.flexbox.flexbox-grow.flexbox-column.height-full div a[style*="margin-left"] * path {
fill: hsla(250,30%,90%,0.25) !important;
}

.l-app-grid--meta .flexbox.flexbox-column.height-full.width-full .slite-design-system.flexbox.flexbox-grow.flexbox-column.height-full div a[style*="margin-left"] .avatar {
}

/*AVATAR THINGY*/
div[draggable*="true"] div[style*="background-image:"] {
	width: 14px !important;
	height: 14px !important;
	background: none;
	opacity: .8;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 112 112'%3E%3Cdefs/%3E%3Cpath fill='%23C4C4C4' d='M43 13.3966c0 7.3987 6.0442 13.3965 13.5 13.3965S70 20.7953 70 13.3966C70 5.99784 63.9558 0 56.5 0S43 5.99784 43 13.3966zM43 55.5c0 7.3987 6.0442 13.3966 13.5 13.3966S70 62.8987 70 55.5s-6.0442-13.3966-13.5-13.3966S43 48.1013 43 55.5zM43 97.6035C43 105.002 49.0442 111 56.5 111S70 105.002 70 97.6035c0-7.3988-6.0442-13.3966-13.5-13.3966S43 90.2047 43 97.6035z'/%3E%3Cpath fill='%23C4C4C4' fill-opacity='.01' d='M111.082 0h.918033v.918033H111.082zM0 0h.918033v.918033H0zM0 111.082h.918033v.918033H0zM111.082 111.082h.918033v.918033H111.082z'/%3E%3C/svg%3E") !important;
}
/**
 **
 **
 **
COLORS - Middle Column  $$*/

/*MIDDLE COLUMN - FONT COLOR - ALL STATES*/
.l-sidebar-body + div .shade-05{
    color: hsla(244, 10%, 89%, 1);
}


/**
Middle Column - BACKGROUND - THIN State****/
.l-app-grid--meta .l-sidebar-body + div {
	background: hsla(220, 15%, 3%, 0.45);
	-webkit-backdrop-filter: blur(25px) saturate(200%)!important;
	backdrop-filter: blur(25px) !important;
	transition: all .23s ease-in-out;
	border-right: 1px solid hsl(210, 11.11%, 96.47%,.1);
	border-left:1px solid hsl(210, 11.11%, 96.47%,0);
}
/**
Middle Column - BACKGROUND - WIDE State*/
.l-sidebar-body + div{
    transition: all .23s ease-in-out !important;
    transition-delay:.1s!important;
}

/** Middle Column - BACKGROUND - Bookmarks*/
.width-full .l-main-body.u-grid-cell-size-limit.background-white.position-relative.height-full {
    background: none !important;
}


/*TOP SEARCH - SEARCH FIELD - THIN State*/
.l-app-grid--meta .l-sidebar-body + div .flexbox-align-center.background-white .margin-horizontal-medium .sidebar-search {  
    background:transparent;
}
.l-sidebar-body + div .flexbox-align-center.background-white .margin-horizontal-medium .sidebar-search {  
    background:rgba(55,55,55,.5);
    color: rgba(100,100,100,.9);
}

/**Middle Column - SIDEBAR HEADING - FONT SIZE - WIDE State*/
.sidebar-header.flexbox-no-shrink.padding-horizontal-large div a, .sidebar-header .flexbox-grow.ellipsis div {
    color:White;
}
/**Middle Column - SIDEBAR HEADING - FONT SIZE - THIN State*/
.l-app-grid--meta .sidebar-header.flexbox-no-shrink.padding-horizontal-large div a, .l-app-grid--meta .sidebar-header .flexbox-grow.ellipsis div {
	color: hsla(250,30%,90%,0.15) !important;}

/**
/*Middle Column - BORDER-Right - MAIN CONTAINER - WIDE State */
.l-sidepanel .border-right-medium.border-shade-50, .flexbox.width-full.flexbox-align-center.zindex-large.background-shade-100.border-bottom-medium.border-shade-50.padding-horizontal-medium {
    border-right: 1px solid hsla(240, 0%, 69%, 0);
    transition: all .23s ease-in-out !important;
    transition-delay:.1s !important;
    border-bottom:none !important;
}
/*Middle Column - BORDER-Right - MAIN CONTAINER - THIN State */
.l-app-grid--meta  .l-sidepanel .border-right-medium.border-shade-50 {
    border-right: 1px solid hsla(240, 49%, 12%, .3);
    transition: all .23s ease-in-out !important;
    transition-delay:.1s !important;
}

/*Middle Column - BORDER-Right - TOP SEARCH - WIDE State */
.l-sidebar-body + div .flexbox.width-full.flexbox-align-center.zindex-large.background-white.border-bottom-medium.border-shade-50 {
    border-right: 1px solid hsla(240, 0%, 39%, .2) !important;
    transition: all .23s ease-in-out !important;
    transition-delay:.1s !important;
}

/*Middle Column - BORDER-Right - TOP SEARCH - THIN State */
.l-app-grid--meta .l-sidebar-body + div .flexbox.width-full.flexbox-align-center.zindex-large.background-white.border-bottom-medium.border-shade-50 {
    border-right: 1px solid hsla(240, 49%, 12%, .1) !important;
    transition: all .23s ease-in-out !important;
    transition-delay:.1s !important;
}

/**
 **
 **Middle column - BUTTONS - COLORS*/

/*Middle column - BUTTON BELOW HEADER - "NEW NOTE"*/
.sidebar-header + div button.background-primary {
	background: hsla(231, 100%, 62%, 0.41) !important;
	color: hsla(231, 106%, 66%, 0.8) !important;
	border: none;
}
.sidebar-header + div button.background-primary svg g {
    fill: hsla(231, 76%, 66%, 1) !important;
    transition: all .1s ease-in-out !important;
}
.sidebar-header + div button.background-primary:hover  {
    background: hsla(231, 76%, 56%, 1) !important;
    box-shadow: inset 0 -12px 14px hsla(231, 70%, 50%, 1);
    color:hsla(231, 106%, 86%, 1)!important;
transition: all .3s ease-in-out !important;
}
.sidebar-header + div button.background-primary:hover svg g{
    fill:hsla(231, 99%, 86%, 1) !Important;
    transition: all .3s ease-in-out !important;
}

.pointer.transition.no-outline.font-size-large.radius-normal.flexbox.flexbox-align-center.flexbox-justify-center.padding-vertical-normal.padding-horizontal-medium.font-weight-bold.width-full.margin-vertical-smaller.font-weight-medium.background-shade-100.shade-20.background-shade-50-on-hover.shade-10-on-hover {
background: hsla(250,30%,90%,0.1);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10);
}



/*Middle column - BUTTONS - THIN STATE*/
.l-app-grid--meta .sidebar-header + div button.background-primary {
	background: hsl(229.59, 54.44%, 35.29%,0.3) !important;
    transition: all .2s ease-in-out !important;
    font-size:13px !important;
    color:hsla(231, 76%, 66%, .3) !important;
}
.l-app-grid--meta .sidebar-header + div button.background-primary svg g path{
	fill: hsla(231, 76%, 66%, .3) !important;
	transition: all .2s ease-in-out !important;
}

.l-app-grid--meta .sidebar-header + div button.background-primary + button{
background: hsla(250,30%,90%,0.05) !important;
color: hsla(250,30%,90%,0.15) !important;
font-size: 13px !important;
transition: all .4s ease-in-out !important;
}

/*Middle column - BUTTON BELOW HEADER - "NEW COLLECTION"*/
.sidebar-header + div button.background-white {
    background: hsla(231, 0%, 60%, .06) ;
    color:hsla(231, 0%, 30%, 1);
}
.sidebar-header + div button.background-white:hover {
    background: hsla(231, 0%, 60%, .6) !important;
    color:hsla(231, 0%, 50%, 1);
}


/*Middle column - BUTTON - Active FIle - WIDE STATE */
.l-app-grid--meta .l-sidebar-body + div .flexbox.flexbox-column.height-full.width-full .background-shade-50 {
	background: hsla(220, 10.92%, 21.96%,.5) !important;
	color: hsla(220, 20.92%, 80%,1) !important;
}
/*Middle column - BUTTON - Active FIle - THIN STATE */
.l-sidebar-body + div .flexbox.flexbox-column.height-full.width-full .background-shade-50 {
	background: hsla(220, 10.92%, 21.96%,.5) !important;
	color: hsla(220, 20.92%, 80%,1) !important;
}
.l-sidebar-body + div .flexbox.flexbox-column.height-full.width-full .background-shade-50 .flexbox.flexbox-centered.shade-20 .flexbox.flexbox-justify-end {
opacity: 0.3;
transition: .3s !important;
}


/*Middle column - BUTTON - NON ACTIVE FIle - WIDE STATE */
.l-sidebar-body + div .flexbox.flexbox-column.height-full.width-full .background-shade-50:hover, 
.l-sidebar-body + div .flexbox.flexbox-column.height-full.width-full .background-shade-50-on-focus:focus, 
.l-sidebar-body + div .flexbox.flexbox-column.height-full.width-full .background-shade-50-on-hover:hover
 {
    background: hsla(0, 0%, 20%, .2) !important;
}
/*Middle column - BUTTON - NON ACTIVE FIle - THIN STATE */
.l-sidebar-body + div .flexbox.flexbox-column.height-full.width-full .background-shade-50:hover, 
.l-sidebar-body + div .flexbox.flexbox-column.height-full.width-full .background-shade-50-on-focus:focus, 
 {
    background: rgba(255,255,255, 0.35) !important;
}
.l-sidebar-body + div .flexbox.flexbox-column.height-full.width-full .background-shade-50-on-hover:hover {
	    background: hsla(220, 10.92%, 24.96%,.8) !important;

}

/**
 FOLDER AND FILES TEXT COLOR */
 div[draggable="true"] div.ellipsis.fs-block.data-hj-suppress {
color: hsla(220, 20.92%, 80%,0.9);
}








/****
 ****
 **** 
 ****
 ****
 **** 
 ****
 **** 
 ****
 ****
 ****
 MAIN BODY
 MAIN BODY
 MAIN BODY
 MAIN BODY
 MAIN BODY
 MAIN BODY
 MAIN BODY
 ****
 ****
 **** 
 ****
 ****
 **** 
 ****
 **** 
 ****
 ****
 ****/
 

/*MAIN BODY - CURSOR - COLOR*/
.note-editor {
    caret-color: #1D7DFB !important;
}

/*MAIN BODY - CURSOR - COLOR*/
.note-editor {
    caret-color: #1D7DFB !important;
}




.note-editor code {
    background-color: hsla(217, 7%, 25%, 1);
    color: hsla(340, 82%, 52%, .9);
    font-size: .9em;
    font-family: "Prima Sans Mono W01 Roman";
    -webkit-text-stroke-width: 0.3px !important;
    padding: .0rem .4rem .0rem;
    border: none;
}

/* MAIN BODY - LINKS */
.note-editor-drop a span span[data-slate-content="true"] {
    color: hsla(217, 7%, 49%, 1);
    background: hsla(217, 7%, 25%, 1);
    -webkit-text-stroke-width: 0px !important;
    padding: .0rem .4rem .0rem;
    border-radius: 3px;
    box-shadow: 0 0 0px 0.8px hsla(217, 7%, 35%, 1);
}

/*Main Body - Link Menu */
.zindex-large.radius-normal.scroll-y.background-white.border-none.shadow-hovering {
    background: #424242;
}




/*MAIN BODY - ANCHOR LINK - LINK TO ANOTHER LINE IN CURRENT DOC OR ANOTHER - COLORS*/
.entity-highlight {
    color: #546aec;
    background-color: hsla(228, 76%, 60%, 0.35);
    border-radius: 4px;
    transition:.2s;
}
.entity-highlight.is-clickable:hover, .entity-highlight.is-selected {
    color: #7085ff;
    background-color: hsla(228, 100%, 71%, 0.35);
    border-radius: 4px;
    transition:.2s;
}


/*MAIN BODY - TEXT SELECTION - BACKGROUND*/
.note-editor-dnd-line-wrapper.active {
    background: hsla(228, 100%, 71%, 0.2);
}

/*MAIN BODY - IMAGES - BORDER*/
.image-block {
    box-shadow: 0 0 0 1px #444444;
}



/*MAIN BODY - MISC*/
.border-shade-50, .border-shade-50-on-active:active, .border-shade-50-on-focus:focus, .border-shade-50-on-hover:hover {
    border-color: rgba(0,0,0,0);
}


/*MAIN BODY - EMBEDED CONTENT */
.embed-block {
    border: 1px solid hsl(220, 16.92%, 37.96%);
    border-radius:8px;
    transition: .2s ease-in-out;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.embed-block:hover {
    border: 1px solid hsl(220, 76.92%, 47.96%);
    transition: .2s ease-in-out;
}
.embed-block.is-focused {
    border-color: #5168ec !important;
}
.embed-block.is-focused {
    border-color: #5168ec !important;
}


/* MAIN BODY - EMBEDED CONTENT - ICONS */
.media-toolbar.position-absolute.flexbox.flexbox-centered div {
    background: rgba(0,0,0,0) !important;
    transition:.3s !important;
}

.media-toolbar.position-absolute.flexbox.flexbox-centered div:hover {
    background: rgba(150,150,150,.3) !important;
    transition:.3s !important;
    backdrop-filter:blur(5px)!important;
    -webkit-backdrop-filter: blur(5px) !important;

}

.media-toolbar.position-absolute.flexbox.flexbox-centered svg g {
    fill: #5a5a5a !important;
    transition:.1s !important;
}
.media-toolbar.position-absolute.flexbox.flexbox-centered div:hover svg g {
    fill: #8a8a8a !important;
    transition:.1s !important;
}


/******
 ******
 ******
 ******
 ******
 ******
 MENUS
 ******
 ******
 ******
 ******
 ******
 ******/
 


/*MAIN BODY - MENU'S - COLORS*/
.slite-editor-inline-toolbar {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 9, .3);
    background: hsla(0, 0%, 16%, 1);
    border-radius: 6px;
    min-height: 30px;
}
.slite-editor-toolbar.with-shadow {
    box-shadow: 0px 4px 22px 0px  rgba(0, 0, 0, .8), 0px 0px 2px rgba(0, 0, 0, .36);
    background: hsl(221.43, 6.54%, 14.98%);
}

.slite-editor-toolbar.zindex-huge.margin-small.position-absolute.radius-normal.background-white.border-shade-50.with-shadow.color-mode-elevated .flexbox.flexbox-column.overflow-hidden {
max-height: 450px !important;
}

.padding-small.flexbox.flexbox-align-center.radius-normal.line-height-large.pointer.shade-10, .padding-small.flexbox.flexbox-align-center.radius-normal.line-height-large.pointer.shade-10 svg path {
background-color: hsl(221.43, 9.54%, 35.98%,0);
color: hsl(221.43, 13.54%, 65.98%) !important;
fill: hsl(221.43, 13.54%, 54.98%, .6) !important;
transition: .2s !important;
}


.padding-small.flexbox.flexbox-align-center.radius-normal.line-height-large.pointer.shade-10.background-shade-50, .padding-small.flexbox.flexbox-align-center.radius-normal.line-height-large.pointer.shade-10.background-shade-50 svg path {
background-color: hsl(221.43, 21.54%, 35.98%,.5);
color: hsl(221.43, 81.54%, 80.98%) !important;
fill: hsl(221.43, 81.54%, 70.98%) !important;
transition: .2s !important;
}


/**
 **
 **
 **
 **
 **
 ** 
 FONT - FAMILIES*/
@font-face {
 font-family: "Prima Sans Mono W01 Roman";
 src: url('https://dl.dropboxusercontent.com/s/367pa7lpo9pz4ps/Prima%20Sans%20Mono%20W01%20Roman.ttf?raw=1') format('truetype'),
   url('https://dl.dropboxusercontent.com/s/6csdyekl65tvn2k/Prima%20Sans%20Mono%20W01%20Roman.woff2?raw=1') format('woff2'),
   url('https://dl.dropboxusercontent.com/s/k12fe8zs9r5zh4t/Prima%20Sans%20Mono%20W01%20Roman.woff?raw=1') format('woff');
 font-weight: 900;
 font-style: normal;
}
