/************************ WEB/HTML CONTENT ************************/
  
/*Outer frame */
 foreign-content .qqx51qb:hover, foreign-content .x51qb {
     border: 2px solid #f2f2f2;
}
 body.darkMode foreign-content .x51qb:hover, body.darkMode foreign-content .x51qb {
     border-color: hsl(0, 0%, 20%);
}
 foreign-content.selected .x51qb, foreign-content.selected .x51qb:hover {
     border: 2px solid hsl(200.17, 61.05%, 62.75%, .6);
}
 body.darkMode foreign-content.selected .x51qb, body.darkMode foreign-content.selected .x51qb:hover {
     border: 2px solid hsl(199.92, 100%, 47.84%) !important;
}
 foreign-content ._1ctXZ, foreign-content .x51qb:hover ._1ctXZ {
     --header-background: transparent;
     background: transparent;
}
 body.darkMode foreign-content ._1ctXZ, body.darkMode foreign-content .x51qb:hover ._1ctXZ {
     --header-background: transparent;
     background: transparent;
}
 ._3gYPM svg._35HJJ {
     width: 19px;
     height: 19px;
}
 foreign-content ._1ctXZ {
     font-size: 12.5px;
     padding: 6px 6px 0 6px;
     height: 25px;
}
/************************ TOP EDITOR BAR ************************/
 ._2SIi4WWTE8aQ-GvIweVfau {
     display: flex;
     height: 41px;
     align-items: center;
     padding: 3px 12px 2px;
}
/************************ CLASSIC EDITOR ************************/
 ._2NgW29HhP6frhi_isiM089 {
     font-size: 14px;
}
 .QNKv7jakDQHF1UFEhE8CA {
     margin: 0px auto 0;
}
 ._3160roQeqyI1IEDzeW-yJQ {
     padding: 0px !important;
}
 .e_S6I3-lSds0HpUnyC8Qn {
     height: 40px;
     padding-right: 11px;
     border-top: 1px solid hsl(0, 0%, 92.55%, 0);
}
 .e_S6I3-lSds0HpUnyC8Qn, .e_S6I3-lSds0HpUnyC8Qn * {
     background: hsl(0, 0%, 100%, .5);
}
 #gwt-debug-NotebookHeader-container {
     display: none;
}
 #en-note.editable.uno {
     max-width: 840px;
     margin: 0 auto;
}
 .web.peso-deactivated:before {
     content: "CLASSIC EDITOR";
     font-family: Source Sans Pro, system, helvetica neue, helvetica, arial sans-serif;
     font-size: 13px;
     box-shadow: 0 0 0 1px hsla(0, 0%, 10%, .5);
     border-radius: 2px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     top: 10px;
     left: 0;
     width: 110px;
     height: 16px;
}
 .en-print img.en-media-selected, en-note.uno img.en-media-selected {
     box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #0081c2;
}
 ul.en-todolist>li .list-bullet-todo, en-note.peso ul.en-todolist>li .list-bullet-todo, .drag-image-holder li .list-drag-handle, en-note.peso li .list-drag-handle {
     top: 6px;
}
 en-note.peso ul li {
     margin-top: 5px;
}
/************************ IMAGE RESIZE ************************/
 ._27BqJ {
     cursor: nesw-resize;
     top: -6px;
     bottom: unset;
}
/************************ SEARCH ************************/
 #qa-SEARCH_DROPDOWN, #qa-SEARCH_BAR_DROPDOWN {
     left: 0;
     right: 0;
     margin: 0 auto;
     width: 400px;
}
 #qa-SEARCH_BAR_DROPDOWN {
     box-shadow: none;
}
 #qa-SEARCH_DROPDOWN:before {
     content: "";
     display: block;
     position: relative;
     height: 46px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
 #qa-SEARCH_DROPDOWN {
     margin-top: 0px;
     box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .25);
     display: flex;
     flex-direction: column;
}
/*/
///// MOVE TAGS TO TOP /////
/*/
  
/* VERY TOP - EXISTING DYNAMIC SEARCH*/
 ul._1rj3c2MHZTNP1rXUk4ZNm1:first-of-type {
     order: 0;
}
/* AD FILTER SECTION*/
 h2._3dW6wnJJJMQTFbZoQuoVES.Y8p50x11YFkD12NFEwqvc:nth-of-type(2) {
     order: 1;
}
 ul._1rj3c2MHZTNP1rXUk4ZNm1:last-of-type {
     order: 2;
}
/* GO TO SECTION*/
 h2._3dW6wnJJJMQTFbZoQuoVES.Y8p50x11YFkD12NFEwqvc:first-of-type {
     order: 3;
}
 ._1rj3c2MHZTNP1rXUk4ZNm1:nth-of-type(2) {
     order: 4;
}
 ._3CZ3t0Rrac5sNIJ8Si69S1:nth-of-type(2) {
     order: 3;
}
 [id*="tag"] span.IiGvyCbYbFnhTqYJA1J_r path {
     fill: #01A92E;
}
/************************ IMAGE POPUP ************************/
  
/*/
/////// TOP BAR ///////
/*/
 ._1o0T9 {
     height: 50px;
     background-color: hsl(0, 0%, 95%, 0.8);
     border-bottom: none !important;
     -webkit-backdrop-filter: blur(15px);
     backdrop-filter: blur(15px);
     position: absolute;
     top: 0px;
     left: 0;
     right: 0px;
     border-radius: 0px;
}
 .darkMode ._1o0T9 {
     background-color: hsl(0, 0%, 15%, 0.4) !important;
     border-bottom: none !important;
}
 ._1o0T9 .TX2mB {
     flex: 1 0 auto;
     max-width: unset;
}
/*/
/////// WHOLE LIGHTBOX CONTAINER ///////
/*/
 .previewcontainer {
     position: fixed;
     z-index: 100000000;
     background: hsl(0, 0%, 97%, 0.6);
     width: 100%;
     height: 100%;
     -webkit-backdrop-filter: blur(11px);
     backdrop-filter: blur(11px);
}
 .darkMode .previewcontainer {
     background: hsl(0, 0%, 7%, 0.6);
}
/*/
/////// LIGHTBOX CONTAINER - 1 ///////
/*/
 .previewcontainer ._1-GEb {
     position: absolute;
     height: 100%;
     width: 100%;
     max-height: calc(100%);
     top: 60px;
     bottom: 0;
     left: 0;
     right: 0;
     overflow-x: scroll;
     display: block;
}
/*/
/////// LIGHTBOX - CONTAINER 2 ///////
/*/
 .previewcontainer ._1-GEb ._5fvIp {
}
/*/
/////// LIGHTBOX - CONTAINER 3 ///////
/*/
 .previewcontainer ._1-GEb ._5fvIp ._1fAxH {
     position: relative;
     height: 100%;
     width: 100%;
     top: 0px;
     bottom: 0;
     transform: none !Important;
     margin: 0 auto;
     z-index: 1000000000000000;
     user-select: auto;
     -webkit-user-select: auto;
}
/*/
/////// ACTUAL IMAGE ///////
/*/
 .previewcontainer ._1-GEb ._5fvIp ._1fAxH ._18La1 {
     margin: 0 auto;
     display: block;
     max-width: 100vw;
     position: relative;
     transform: none !important;
     user-select: auto;
     -webkit-user-select: auto;
     z-index: 100000000000000000000;
     cursor: pointer !important;
}
 .previewcontainer *, .previewcontainer *:hover {
     cursor: pointer !important 
}
/* ._5fvIp ._1fAxH img {
     width: auto;
     margin: 0 auto;
     display: block;
     max-width: 100vw;
}
 
/************************ ************************ SIDEBAR / SIDE BAR / NOTE LIST ************************ ************************/
 ._179Bz_e4NJWdeKbuI14Nf_._3UgWPkxu2qyx8KIssLkjAa {
     display: none;
}
 ._1WrY6zkGiK439ApkAyVslO {
     border-width: 2px;
}
 #qa-NAV_POSITION_BOTTOM, ._1usrovjNqPYgostQfhqEtV {
     display: none;
}
/************************ ************************ PDFS ************************ ************************/
 ._3Ungx {
     position: absolute;
     width: 118px;
     height: 72px;
     margin-left: -54px;
     margin-right: -54px;
     left: unset;
     right: 60px;
     bottom: unset;
     overflow: hidden;
     top: 40px;
}
 ._3_qAd {
     border: 1px solid hsl(200, 0%, 70%);
     border-radius: 3px;
     margin-right: 2px;
     margin-left: 2px;
}
 .darkMode ._3_qAd {
     border: 1px solid hsl(0, 0%, 33%);
     border-radius: 3px;
}
 ._3_qAd[src="https://www.evernote.com/shard/s385/res/48b1e37c-6e86-7b9a-01af-6f29d9964c1c"], ._3_qAd[src="https://www.evernote.com/shard/s385/res/12631753-cf50-056b-c549-e1518287c477"] {
     border: none;
     border-radius: 0px;
}
/************************ ************************ DARK THEME ************************ ************************/


 
