@charset "UTF-8";
/* CSS Document */
/************************
 ************************
 ************************
 MY MODiFiCATiONS
 ************************
 ************************
 ************************/
 .featherlight {
 	margin:0 auto !important;
 	padding-top:10px;
 	padding-bottom:10px !important;
 	position: fixed;
 	display: block;
 	max-height:100%;
 	height:100%;
 	top:0 !important;
 	
 	
 }
 .long-image{
 	top:0 !important;

 }
.long-image .featherlight-content {
	width: 98% !important;
	margin: 0 auto !important;
	background: transparent !important;
	padding: 0px !important;
	top: 0 !important;
	max-height: 100% !important;
	bottom: 0px !important;
	border:0px !important;
	border-radius:8px !important;


}
.long-image .featherlight-content img.featherlight-image {
	border: 1px solid green !important;
	padding: 0px !important;
	width: 100% !important;
	height: auto !important;
	border:0px !important;
	margin-top:0px
}
img[data-featherlight]:hover {
	cursor: pointer
}
.long-image .featherlight-close-icon {
	position: fixed !important;
	top: 30px !important;
	right: 25px !important;
	line-height: 25px !important;
	width: 45px !important;
	font-size: 30px !important;
}
.long-image img {
	max-width:100% !important;
	box-shadow:none !important;
}
/************************
 ************************
 ************************
 FEATHERLiGHT LiBRARY
 ************************
 ************************
 ************************/
html.with-featherlight {
	overflow: hidden
}
.featherlight {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483647;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	background: #333;
	background: rgba(0, 0, 0, 0)
}
.featherlight:last-of-type {
	background: rgba(0, 0, 0, .1);
	top:-100px;
	left:0;
	right:0;
	bottom:0;
	-webkit-backdrop-filter:blur(15px);
	backdrop-filter:blur(15px);
	z-index: 1090900000;
}
.featherlight:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.featherlight .featherlight-content {
	position: relative;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	overflow: auto;
	padding: 25px 25px 0;
	border-bottom: 25px solid transparent;
	margin-left: 5%;
	margin-right: 5%;
	max-height: 95%;
	background: #fff;
	cursor: auto;
	white-space: normal;
}
.featherlight .featherlight-inner {
	display: block;
}
.featherlight link.featherlight-inner, .featherlight script.featherlight-inner, .featherlight style.featherlight-inner {
	display: none
}
.featherlight .featherlight-close-icon {
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
	line-height: 0;
	width: 50px !important;
	height:50px !Important;
	content:"" !important;
	cursor: pointer;
	text-align: center;
	font-family: Arial, sans-serif;
	background: #fff;
	background: rgba(0, 0, 0, .25);
	color: rgba(0,0,0,0);
	border: 0;
	padding: 0;
	border-radius:7px;
	-webkit-backdrop-filter:blur(15px);
	backdrop-filter:blur(15px);
}
.featherlight .featherlight-close-icon:before {
	content:"";
	display:block;
	z-index: 10000000000;
	width:40px;
	height:3px;
	background:rgb(250,250,250,.4);
	border-radius:1.5px/1.5px;
	right:5px;
	transform:rotate(45deg);
	top:24px;
	position: absolute;
	transition:.25s
}
.featherlight .featherlight-close-icon:after {
	content:"";
	display:block;
	z-index: 10000000000;
	width:40px;
	height:3px;
	background:rgb(250,250,250,.4);
	border-radius:1.5px/1.5px;
	right:5px;
	transform:rotate(-45deg);
	top:24px;
	position: absolute;
	transition:.2s
}
.featherlight .featherlight-close-icon:hover:before, .featherlight .featherlight-close-icon:hover:after{
	background:rgb(255,255,255,1);
}
.featherlight .featherlight-close-icon::-moz-focus-inner {
	border: 0;
	padding: 0
}
.featherlight .featherlight-image {
	width: 100%
}
.featherlight-iframe .featherlight-content {
	border-bottom: 0;
	padding: 0;
	-webkit-overflow-scrolling: touch
}
.featherlight iframe {
	border: 0
}
.featherlight * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
@media only screen and (max-width:1024px) {
	.featherlight .featherlight-content {
		margin-left: 0;
		margin-right: 0;
		max-height: 98%;

		border-bottom: 10px solid transparent
	}
}
@media print {
	html.with-featherlight > * > :not(.featherlight) {
		display: none
	}
}

.lightbox {
	display: none;
}
