* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.article-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.left-side {
    width: auto;
    border: 1px solid red;
    margin-right: 10px;
    padding: 5px;
    flex-grow: 1;
}

.right-side {
    border: 1px solid green;
    position: sticky;
    top: 0;
    padding: 0px;
    width: 350px;
    height: 100vh;
    background: rgba(244, 244, 244)
}

/**
 HYPOTHESIS LAYOUT */
.hypothesis-container {
    width: 100%;
}

.h-sidebar-iframe {
    /* Stuff found in default stylesheet */
    margin: 0;
    margin-left: 0px;
    padding: 0;
    background: none !important;
    font-size: 14px !important;
    line-height: 20px;
    z-index: 2147483647;

    /* Custom stuff for demo */
    border: 0;
    height: 93.7vh;
    width: 100%;
}

.card {
    margin: 6px;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: sans-serif;

}

/**HYPOTHESIS STYLES */
/**
 TOP BAR */
.top-bar {
    background: hsla(210, 7%, 19%, 1) !important;
    color: hsla(210, 7%, 69%, 1);
}

.top-bar__inner button {
    color: hsla(210, 7%, 69%, 1);
    background: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: unset !important;
    transition: .2s;
}
.thread-list__card  {
    
}

iframe.h-sidebar-iframe .selection-tabs__message {
    border: 1px solid red;
}
